include README.md
include CHANGELOG
include VERSION
include pyrandall/files/VERSION
include pyrandall/files/schemas/scenario/v2.yaml

exclude Makefile
exclude dev_requirements.txt
exclude Dockerfile
exclude docker-compose.yml
exclude Jenkinsfile
exclude logging.yaml
